* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--primary-base);
}

button {
    cursor: pointer;
}

canvas{
    border: solid black;
    
}

.img-card img{
width: 200px;
}