.grid-container{
    display: grid;
    grid-template-columns:
    minmax(20px, 1fr)
    minmax(auto, 600px)
    minmax(20px, 1fr);
    gap: 10px;
}

.edit-options-container{
    grid-column: 2;
    
}

.canvas-container{  
   
    grid-column: 2;
    width: 90vw;
    height: 90vw;
    margin: 20px auto ;
}

canvas{
   
   
    border-radius: 2em;
}

